.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url(https://cdn.wallpapersafari.com/29/70/onxf53.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: 15px;
  color: rgb(1, 27, 6);
  /*LV*/
  width: 80%;
  float: right;
  clear: both;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS button*/
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 20px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS for table */
#DataDB {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /*LV*/
  width: 100%;
  float: right;
  clear: both;
  margin: 12px;
  font-size: 10px;
  text-align: left;
  color: white;
}

#DataDB td, #DataDB th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Những dòng chẵn thì tô màu */
#DataDB tr:nth-child(even){background-color: #a4c29e;}

#DataDB tr:hover {background-color: #709271;}

#DataDB th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0f3f04;
}

/* CSS LoadingError tr */
#LoadingError {
  text-align: center;
}

/* CSS Input */
.text-input{
  margin-top: 10px;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  padding: 5px;
}

.App-logo{
  margin: 15px 15px;
  text-align: center;
}
